<!DOCTYPE html>

<html>

    <head>
        <!--使用if else statement：如果程式忘記傳遞title，會顯示default"Welcome to Microblog"-->
        {% if title %}
            <title>{{title}} - Microblog</title>
        {% else %}
            <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    
    <body>
        <h1> Hello,{{user.username}}!</h1>
        <!--用for迴圈嵌入顯示element-->
        {% for post in posts %}
            <div><p>{{post.author.username}} says: <b>{{post.body}}</b></p></div>
        {% endfor %}
    </body>

</html>